body {
    margin: 0;
    padding: 0;
    display: flex;
    
    flex-direction: column;
}

.header {
    display: flex;
    background-color: #1F2937;
    flex: 1;
    margin: 0;
    padding: 1rem 15%;
}


.content {
    display: flex;
    background-color: #1F2937;
    flex-direction: column;
    padding: 9rem 15%;
}

/* First Content Box */

.initial-signup {
    display: flex;
    background-color: #1F2937;
    flex: 1;
    gap: 4rem;
}

.left-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 1 auto;
}

.place-holder {
    display: flex;
    background-color: gray;
    height: 250px;
    width: 600px;
    flex: 1 1 100%;
    margin-left: auto;
    justify-content: center;
    align-items: center;
}

.main-text {
    color: #F9FAF8;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 48px;
    font-weight: bolder;
}

.content-subtext {
    color: #e5e7eb;
    font-size: 18px;
    padding: 1rem 0;
}

.sign-up-button {
    border-radius: 10px;
    background-color: #3882F6; 
    color: #F9FAF8;
    font-size: 17px;
    border: none;
    font-weight: bold;
    width: 150px;
    height: 40px;
}

/* End of first content box */

/* Second Content Box */

.image-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 3em 15%;
}

.image-box > .heading {
    font-size: 36px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 800;
    color: #1F2937;
}

.boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
}

.image {
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 10px;
}

.box-one, .box-two, .box-three, .box-four {
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* End of second content box */

.logo {
    font-size: 24px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #F9FAF8;
    font-weight: bold;
}

.right-links {
    font-size: 18px;
    margin-left: auto;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    padding: 0 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}