body {
    margin: 0;
    padding: 0;
    display: flex;
    
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex: 1;
    margin: 0;
    padding: 1rem 20%;
}


.content {
    background-color: #1F2937;
    display: flex;
    padding: 9rem 20%;
}

/* First Content Box */

.initial-signup {
    display: flex;
    flex: 1;
    gap: 4rem;
}

.left-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 1 auto;
}

.place-holder {
    display: flex;
    background-color: gray;
    height: 250px;
    width: 600px;
    flex: 1 1 100%;
    margin-left: auto;
}

.main-text {
    color: #F9FAF8;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 48px;
    font-weight: bolder;
}

.content-subtext {
    color: #e5e7eb;
    font-size: 18px;
    padding: 1rem 0;
}

.sign-up-button {
    border-radius: 10px;
    background-color: #3882F6; 
    color: #F9FAF8;
    font-size: 15px;
    border: none;
    font-weight: bold;
    width: 150px;
    height: 40px;
}

/* End of first content box */

.logo {
    font-size: 24px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #F9FAF8;
}

.right-links {
    font-size: 18px;
    margin-left: auto;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    padding: 0 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}